<div class="jumbotron bg-warning">
<div class="card">
  <div class="card-header">
    <h2 class="text-center" style="text-decoration:underline" style="color:mediumblue;">Why this Courses</h2>
    <img  class="mt-5"  src="assets/why.jpg" width="500px" height="300px" class="mx-auto d-block img-fluid" >
  </div>
  <div class="card-body mt-5">
    <p class="text-dark">The current challenges facing traditional colleges and universities — including higher tuition, budget cuts, and course shortages — cause many students to search for alternatives. With nearly three million students currently enrolled in fully online programs and six million taking at least one online course as part of their degree, online education has clearly become one of the most popular higher education alternatives. The continually improving reputation of online learning helped fuel its expansion, as initial skepticism faltered in the face of evidence showing that online learning can be just as effective as face-to-face education.</p>
    <p class="text-dark"> There’s a second reason why online learning has become so popular: it’s cheaper. Cost can often be a prohibitive factor in why individual students don’t enrol in courses they’re interested in. This is also an issue for corporations who wish to encourage their employees to undergo further training but don’t have much of a budget for conferences and training courses. Online courses are easily accessible on much smaller budgets.</p>
    <h3 style="color:red;">Top 10 advantages to online learning</h3>
      <ul>
        <h6>Variety of programs and courses</h6>
        <h6>Lower total costs</h6>
        <h6>More comfortable learning environment</h6>
        <h6>Convenience and flexibility</h6>
        <h6>More interaction and greater ability to concentrate</h6>
        <h6>Career advancement </h6>
        <h6>Continue in your profession</h6>
        <h6>Avoid commuting: </h6>
        <h6>Improve your technical skills</h6>
        <h6>Transfer credits</h6>
      </ul>
  </div>
</div>
</div>