
<div class="jumbotron bg-secondary">
<h1 class="text-danger text-center pt-5 " style="text-decoration:underline" >Purchasers Detailes</h1>
 
<div class="row">
   <div class="col-sm-3"></div>
  
   <div class="col-sm-6 text-center">
  <div class="jumbotron bg-info">
  <div class="mt-2">
      <input type="text" class="form-control" placeholder="search....." name="searchTerm" [(ngModel)]=searchTerm>
  </div>
   </div>
   </div>
  
     <div class="col-sm-3"></div>
</div>


<table class="table table pt-5">
   <thead>
    <th>CustomarId</th>
    <th>Customer Name</th>
    <th>Course</th>
    <th>Price</th>
    <th>Email</th>
    <th>Password</th>
    <th>Gender</th>
    <th>Mobile Number</th> 
  </thead>
  <tr *ngFor="let i of data | search:searchTerm || searchid:serachTerm ">
    <td>{{i.customerid}}</td>
    <td>{{i.customername}}</td>
    <td>{{i.course}}</td>
    <td>{{i.price}}</td>
    <td>{{i.email}}</td>
    <td>{{i.password}}</td>
    <td>{{i.gender}}</td>
    <td>{{i.mobilenumber}}</td>
  </tr>
</table>

