
   
    <div class="row" >
      
    </div>
    <div class="row">
    <div class="col-sm-4"></div>
    
    <div class="col-sm-4">
        <div class="jumbotron mt-4 bg-info">
          <h1 class="text-center">LogIn</h1>
          <form #formref="ngForm" (ngSubmit)="readUser(formref.value)">
         
          <div class="form-group">
            <label><b>Name:</b></label>
            <input type="text" name="name" required #ref="ngModel" [(ngModel)]="name" pattern="[a-zA-Z]" class="form-control">
            <label *ngIf="ref.errors?.required && ref.touched" class="text-danger">Name is mandatory</label>
         </div>
         <div class="form-group">
            <label><b>Password:</b></label>
            <input type="password" name="password" #ref1="ngModel" [(ngModel)]="password" class="form-control">
         </div>
         <a ><button type="submit" class="btn btn-success">Login</button></a>
         <a class="float-right mt-2 text-danger" routerLink="registration"><b>Register</b></a>
         
      </form>
    </div>
    </div>
     <div class="col-sm-4"></div>
     <router-outlet></router-outlet>
    </div>