


<div class="jumbotron bg-secondary">
  <!-- <button type="button" class="btn btn-success" (click)="ngOnInit()">Send</button> -->
  <div class="row">
      <div class="col-sm-3"></div>
  
        <div class="col-sm-6 text-center">
          <div class="jumbotron bg-info">
     
             <input type="text" class="form-control" placeholder="search....." name="searchTerm" [(ngModel)]=searchTerm>
     
          </div>
       </div>
      <div class="col-sm-3"></div>
   </div>
  

  <table class="table table">

  <thead>
    <th>Sno</th>
    <th>Course-Name</th>
    <th>cost</th>
    <th>Buy</th>
  </thead>

  <tr *ngFor="let i of data | search1:searchTerm;let in=index;">
    <td>{{in+1}}</td>
    <td>{{i.coursename}}</td>
    <td>{{i.price}}</td>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#k">Buy</button>
  </tr>
</table>
</div>


<!-- Buy button -->

<div class="modal" id="k">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="jumbotron" style="background-color:aquamarine">
         <div class="modal-header">
           <div class="margin-right">
            <button type="button" class="close d-block " style="margin-left:675px;" class="btn btn-danger" data-dismiss="modal">X</button>
           </div>
          </div>
       <div class="modal-body">
        
          <div class="text--center" style="color:blueviolet">
            <h3>Your Online Transection is Success</h3>
            <div class="mt-5" >
                <button type="button" class="btn btn-success mx-auto" class="close" data-dismiss="madal" (click)="download()" data-dismiss="modal" >Download File</button>
            </div>
        
            </div>
         </div>

    </div>
  </div>
  </div>
</div>
