
<!-- <app-cart></app-cart> -->
<!-- <app-history></app-history> -->
<!-- <app-registation></app-registation> -->
<!-- <app-course></app-course> -->
<!-- <app-subscribers></app-subscribers> -->
<!-- <app-purchagers></app-purchagers> -->
<div class="mt-5 text-center" >
    <h1 class="text-center" style="color:black"></h1>
        <router-outlet></router-outlet> 
</div>

<!-- <app-userprofile></app-userprofile> -->
<!-- <app-admin></app-admin> -->
<!-- <app-user></app-user> -->
<!-- <app-userlogin></app-userlogin> -->
<!-- <app-adminlogin></app-adminlogin> -->
<!-- <app-authors></app-authors> -->
<!-- <app-aauthors></app-aauthors> -->