
    <h1 class="text-center text-dark mt-5 " style="text-decoration:underline" >Courses</h1>
    
     <div class="card-deck mt-5">
       <div class="card">
         <div class="card-body">
          <img src="assets/java-training1.jpg" width="200px" height="250px" class="img-fluid" >
          <h1 class="card-title">JAVA </h1>
       <button type="button" class="btn btn-success" routerLink="java"   style="margin-top:45px"  >Show</button>
         
      
        </div>
       </div>
       <div class="card">
           <div class="card-body">
            <img src="assets/c-programming.jpg" width="200px" height="250px" class="img-fluid">
            <h1 class="card-title">C </h1>
           
            <button type="button" class="btn btn-success" style="margin-top:31px"  routerLink="clist" >Show</button>
           
          </div>
         </div>
         <div class="card">
             <div class="card-body">
              <img src="assets/HTML.png" width="200px" height="200px" class="img-fluid">
              <h1 class="card-title">Html </h1>
             
              <button type="button" class="btn btn-success"  routerLink="html" >Show</button>
             
            </div>
           </div>
           <div class="card">
               <div class="card-body">
                <img src="assets/CSS.png" width="200px" height="200px" class="img-fluid">
                <h1 class="card-title">CSS </h1>
               
                <button type="button" class="btn btn-success" routerLink="css" >Show</button>
               
              </div>
             </div>
             <div class="card">
                 <div class="card-body">
                  <img src="assets/angular.jpg" width="200px" height="200px" class="img-fluid">
                  <h1 class="card-title">Angular </h1>
                 
                  <button type="button" class="btn btn-success" routerLink="angular"  >Show</button>
               
                </div>
               </div>
               <div class="card">
                   <div class="card-body">
                    <img src="assets/images.jpg" width="200px" height="200px" class="img-fluid">
                    <h1 class="card-title">C++ </h1>
                   
                    <button type="button" class="btn btn-success" routerLink="ccprog"  >Show</button>
                   
                </div>
          </div>
     </div>

     <div class="jumbotron bg-secondary mt-5" >
      <div class="row">
        <div class="col-sm-6">
          <h3 style="color:dodgerblue"><b>Contact Us</b></h3>
           <p><b>Course Wala:</b></p>
           <p><b>Email:vivek.kotha99@gmail.com</b></p>
           <p><b>Fax:a1234567890b</b></p>
           <p><b>Mobile No:9505735470</b></p>
        </div>
        <div class="col-sm-6">
          <h3 class="text-center" style="color:hotpink;">Availabel-In</h3>
          <img src="https://i.gifer.com/ACIg.gif" width="30px" height="30px" class="img-fluid">
          <img src="https://techcrunch.com/wp-content/uploads/2014/02/twitter-fall-sm.gif?w=730&crop=1" width="50px" height="50px" class="img-fluid" >
          <img src="https://pinksaltire.com/wp-content/uploads/2018/08/FB-GIF.gif" width="50px" height="50px" class="img-fluid" >
        </div>
      </div>
    </div>
    
    <router-outlet></router-outlet>
    
  