

<div class="container-fluid">
<div class="jumbotron " style="background-color:aqua">
 

  
<div class="row">
    <div class="col-sm">
       <h3 class="text-center" style="color:blueviolet; text-decoration:underline">C++ Programming</h3>
    </div>
</div> 

     <div class="row">
       <div class="col-sm-2"></div>
       <div class="col-sm-4 mt-5">
        <img src="assets/c-p.png" width="250px" height="250">
    </div>
         <div class="col-sm-4 mt-5">
         
        
            <p>Introduction to C++, as we all know is an extension to C language and was developed by Bjarne stroustrup at bell labs. ... C++ is a statically typed, free form, multiparadigm, compiled general-purpose language. C++ is an Object Oriented Programming language but is not purely Object Oriented.</p>
              <h3>Contents</h3>
              Introduction
              <p></p>
              <p></p>
               
              
        </div>
        
        
        <div class="col-sm-1"></div>
      </div>
      

      <div class="row ">
        <div class="col-sm-2"></div>
         <div class="col-sm-6">
           
           
           <button type="button" class="btn btn-success form-control" (click)="download()">Sample File</button>
           
          
         </div>
         
         

      </div>
      <div class="table-responsive-sm mt-5">
        <table class="table table-striped">
          <thead>
            <th>Course-Name</th>
            <th>Price</th>
            <th>Add</th>
          </thead>
          <tr *ngFor="let i of data">
           <td>{{i.coursename}}</td>
           <td>{{i.price}}</td>
            <button type="button" class="btn btn-success" (click)="addCart(i)">Add TO Cart</button>
          </tr>
        </table>
      </div>
    </div>
      <router-outlet></router-outlet>
  

