<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-4 pl-5">
            <img src="assets/c-author.jpg" width="200px" height="200px" class="img-fluid mx-auto d-block">

        </div>
        <div class="col-8">

            <h4 class="text-primary " >Author of C-Programming: Dennis Ritchie </h4>
            
            <p>Dennis MacAlistair Ritchie (September 9, 1941 – c. October 12, 2011) was an American computer scientist.[2] He created the C programming language and, with long-time colleague Ken Thompson, the Unix operating system.[2] Ritchie and Thompson were awarded the Turing Award from the ACM in 1983, the Hamming Medal from the IEEE in 1990 and the National Medal of Technology from President Bill Clinton in 1999. Ritchie was the head of Lucent Technologies System Software Research Department when he retired in 2007. He was the "R" in K&R C, and commonly known by his username dmr.</p>

        </div>
    </div>
</div>
</div>
<div class="card mt-5">
        <div class="row">
            <div class="col-4">
                    <img src="assets/c++-author.jpg" width="200px" height="200px" class="img-fluid mx-auto d-block">
                <p>
                </p>
            </div>
            <div class="col-8">
                <h4 class="text-primary">Author of C++ Programming: Bjarne Stroustrup</h4>
               
                <p>Bjarne Stroustrup (/ˈbjɑːrnə ˈstraʊstrʊp/; Danish: [ˈbjɑːnə ˈsdʁʌwˀsdʁɔb];[3][4] born 30 December 1950) is a Danish computer scientist, who is most notable for the creation and development of the C++ programming language.[5] He is a visiting professor at Columbia University, and works at Morgan Stanley as a Managing Director in New York.[6][7][8][9][10]</p>
    
            </div>
        </div>
    </div>
    <div class="card mt-5">
            <div class="card-body">
              <div class="row">
                <div class="col-4 pl-5">
                    <img src="assets/java-author.jpg" width="200px" height="200px" class="img-fluid mx-auto d-block">
        
                </div>
                <div class="col-8">
        
                    <h4 class="text-primary " >Author of Java :James Arthur Gosling </h4>
                    
                    <p>James Arthur Gosling, OC (born May 19, 1955) is a Canadian computer scientist, best known as the founder and lead designer behind the Java programming language.</p>
                    <p>James Gosling received a Bachelor of Science from the University of Calgary [4] and his M.A. and Ph.D. from Carnegie Mellon University, all in computer science.[2][5][6] He wrote a version of Emacs called Gosling Emacs (Gosmacs) while working toward his doctorate. He built a multi-processor version of Unix for a 16-way computer system[7] while at Carnegie Mellon University, before joining Sun Microsystems. He also developed several compilers and mail systems there.</p>
                </div>
            </div>
        </div>
        </div>
        <div class="card mt-5">
                <div class="card-body">
                  <div class="row">
                    <div class="col-4 pl-5">
                        <img src="assets/HTML.png" width="200px" height="200px" class="img-fluid mx-auto d-block">
            
                    </div>
                    <div class="col-8">
            
                        <h4 class="text-primary " >HTML :</h4>
                        
                        <p>Hypertext Markup Language (HTML) is the standard markup language for creating web pages and web applications. With Cascading Style Sheets (CSS) and JavaScript, it forms a triad of cornerstone technologies for the World Wide Web.
                                
                                Web browsers receive HTML documents from a web server or from local storage and render the documents into multimedia web pages. HTML describes the structure of a web page semantically and originally included cues for the appearance of the document.</p>
                        <p>Html elements are the building blocks of HTML pages. With HTML constructs, images and other objects such as interactive forms may be embedded into the rendered page. HTML provides a means to create structured documents by denoting structural semantics for text such as headings, paragraphs, lists, links, quotes and other items. HTML elements are delineated by tags, written using angle brackets. Tags directly introduce content into the page. Other tags such as <p> surround and provide information about document text and may include other tags as sub-elements. Browsers do not display the HTML tags, but use them to interpret the content of the page.</p>
                    </div>
                </div>
            </div>
            </div>
            <div class="card mt-5">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-4 pl-5">
                            <img src="assets/Angular-author.png" width="200px" height="200px" class="img-fluid mx-auto d-block">
                
                        </div>
                        <div class="col-8">
                
                            <h4 class="text-primary" > AngularJS </h4>
                            
                            <p>AngularJS (also written as Angular.js) is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications.</p>
                              <p>The JavaScript components complement Apache Cordova, a framework used for developing cross-platform mobile apps. It aims to simplify both the development and the testing of such applications by providing a framework for client-side model–view–controller (MVC) and model–view–viewmodel (MVVM) architectures, along with components commonly used in rich Internet applications. (This flexibility has led to the acronym MVW, which stands for "model-view-whatever" and may also encompass model–view–presenter and model–view–adapter.) In 2014, the original AngularJS team began working on the Angular application platform.</p>
                        </div>
                    </div>
                </div>
                </div>
                <div class="card mt-5">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-4 pl-5">
                                <img src="assets/CSS.png" width="200px" height="200px" class="img-fluid mx-auto d-block">
                    
                            </div>
                            <div class="col-8">
                    
                                <h4 class="text-primary">Cascading Style Sheets (CSS) </h4>
                                
                                <p>Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language like HTML.[1] CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.</p>
                                  <p>CSS is designed to enable the separation of presentation and content, including layout, colors, and fonts.[3] This separation can improve content accessibility, provide more flexibility and control in the specification of presentation characteristics, enable multiple web pages to share formatting by specifying the relevant CSS in a separate .css file, and reduce complexity and repetition in the structural content.
                                        
                                        </p>
                            </div>
                        </div>
                    </div>
                    </div>
    
